.container{
  font-family:Arial,  sans-serif;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: darkgray;
  max-width:400px;
  margin:auto;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  
}

button{
  font-size:1.5rem;
  padding: 8px 15px;
  border-radius:10px;
  border:none;
  background-color: rgba(0, 0, 205, 0.595);
  color: white;
  font-weight: bold;
   cursor:pointer;
   margin-top: 10px;
}
button:hover{
  background-color:rgba(0, 0, 205, 0.459);
}
input{
  font-size: 2rem;
  width:150px;
  text-align: center;
  font-weight: bold;

}
#diceResult{
  margin: 25px;

}
#diceImages{
  width:150px;
  margin: 5px;
}
